@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
}

.btn,
btn:link,
btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 2px;
  transition: all 0.2s ease-in;
  /* position: absolute; */
  border: none;
  cursor: pointer;
  background-color: white;
  letter-spacing: 3px;
  font-family: "Montserrat", sans-serif;
  color: #000;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

.btn a {
  color: #000;
  text-decoration: none;
}

.btn-left,
.btn-right {
  position: absolute;
  margin: 3rem;
  bottom: 0;
  left: 0;
  text-align: center;
}

footer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 100;
}
footer p {
  font-size: 1rem;
  padding: 0 5px 5px 0;
}
